<button class="close" mat-button mat-dialog-close>X</button>
<h2 mat-dialog-title>Customer Info</h2>
<mat-dialog-content class="dialog-w">
        <mat-card class="logo-card" *ngIf="showDiv">
                <mat-card-header>
                    <div mat-card-avatar class="logo-header-image"></div>
                    <mat-card-title>{{customerInfo.billingFirstName}} {{customerInfo.billingLastName}} </mat-card-title>
                    <mat-card-subtitle>{{customerInfo.email}} - {{customerInfo.number}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
</mat-dialog-content>