<button class="close" mat-button mat-dialog-close>X</button>
<mat-dialog-content *ngIf="showDiv" class="dialog-w">
  <form [formGroup]="form" action="" method="">

    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="Customer Info">

        <div class="card-body" *ngIf="showDiv">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group form-control-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">assessment</i>
                  </span>
                </div>
                <mat-form-field class="example-full-width has-label">
                  <input type="text" matInput formControlName="shippingFirstName">
                </mat-form-field>
              </div>
            </div>
      
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second">Content 2</mat-tab>
      <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>