<button class="close" mat-button mat-dialog-close>X</button>
<mat-dialog-content *ngIf="showDiv" class="dialog-w">
  <form [formGroup]="form" action="" method="">

    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="Customer Info">
        <div class="card-body" *ngIf="showDiv">
          <app-form-info
            [field]="['billingTitle','billingFirstName','billingLastName','expiryYear','expiryMonth','birthday','email','number','gender']"
            [info]="transactionDetail.customerInfo"></app-form-info>
        </div>
      </mat-tab>
      <mat-tab label="Billing Info">
        <div class="card-body" *ngIf="showDiv">
          <app-form-info [field]="['billingTitle','billingFirstName','billingLastName','billingCompany',
                'billingAddress1','billingAddress2','billingCity','billingPostcode','billingState',
                'billingPhone','billingFax','billingCountry']" [info]="transactionDetail.customerInfo"></app-form-info>

        </div>
      </mat-tab>
      <mat-tab label="Shipping Info">
        <div class="card-body" *ngIf="showDiv">

          <app-form-info [field]="['shippingTitle','shippingFirstName','shippingLastName','shippingCompany',
                'shippingAddress1','shippingAddress2','shippingCity','shippingPostcode','shippingState',
                'shippingPhone','shippingFax','shippingCountry']" [info]="transactionDetail.customerInfo">
          </app-form-info>
        </div>


      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>