<div class="container">
    <div *ngIf="operationLock">
        <app-form-info title="Customer Info"
            [field]="['number','expiryYear','expiryMonth','email','gender']" 
            [info]="clientDetail.customerInfo"></app-form-info>
        <app-form-info  title="Transaction"
            [field]="['message','merchantId','fxTransactionId','acquirerTransactionId','operation','channel','type']" 
            [info]="clientDetail.transaction.merchant"></app-form-info>
        <app-form-info title="Agent"
            [field]="['customerIp','customerUserAgent','customerIp','merchantIp','merchantUserAgent']" 
            [info]="clientDetail.transaction.merchant.agent"></app-form-info>
</div>
</div>