<ngx-ui-loader></ngx-ui-loader>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="currentUser">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div mat-card-avatar class="logo-header-image"></div>
        <h1 class="example-app-name">Financial House</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        
        <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item
                    routerLinkActive
                    routerLink="{{menu.url}}" *ngFor="let menu of menus">
                        <i class="material-icons">{{menu.icon}}</i>
                        {{menu.title}}
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <router-outlet></router-outlet>
                </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<div *ngIf="!currentUser">
        <router-outlet></router-outlet>
</div>